:root {
  /* Colors */
  --primary-color-white: #ffffff;
  --primary-color-blue: #2b7fff;
  --primary-color-darkblue: #011c44;

  --secondary--color-darkgrey: #4a4a4a;
  --secondary-color-grey: #747272;
  --secondary-color-darkblue: #011f4a;
  --secondary-color-yellow: #ffd02b;
  --secondary-color-black: #000000;
  --secondary-color-white: #ffffff;
  /* Fonts */
  --font-family-heading: 'Play', sans-serif;
  --font-family-text: 'Roboto', sans-serif;
}

/* General*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  display: inline-block;
  transition:
    color 0.3s,
    font-weight 0.3s;
}

.section {
  padding: 48px 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.body {
  position: relative;
  font-family: var(--font-family-text);
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2 {
  color: var(--primary-color-darkblue);
  font-family: var(--font-family-heading);
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
}

h2 span {
  color: var(--primary-color-blue);
}

p {
  color: var(--primary-color-darkblue);
}

.container {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Logotype */
.logotype {
  font-family: var(--font-family-heading);
  font-weight: 700;
  font-size: 22px;
  line-height: 95%;
  text-transform: capitalize;
  color: var(--primary-color-blue);
  text-decoration: none;
}

/* Hero title */

.hero-title {
  color: var(--primary-color-darkblue);
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 40px;
}

.hero-title span {
  color: var(--primary-color-blue);
  font-family: var(--font-family-heading);
  font-weight: 700;
  text-transform: capitalize;
  font-size: 140px;
  line-height: 0.8;
}

/* Button */
.button {
  color: var(--primary-color-white);
  background-color: var(--primary-color-blue);
  border: transparent;
  border-radius: 32px;
  width: 219px;
  height: 53px;
  cursor: pointer;
  font-size: 18px;
  font-family: var(--font-family-text);
  font-weight: 600;
  letter-spacing: 0;
  margin-bottom: 14px;
  transition:
    color 0.3s,
    background-color 0.3s,
    border 0.3s;
}

.button:hover {
  color: var(--primary-color-darkblue);
  background-color: transparent;
  border: 2px solid var(--primary-color-blue);
  border-radius: 32px;
  width: 219px;
  height: 53px;
}

.button-description {
  color: var(--secondary--color-darkgrey);
  font-size: 12px;
  line-height: 1.5;
}

/* Header menu */
header {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}

.header-elements {
  height: 106px;
  display: flex;
  gap: 16px;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 16px;
}

.menu-adress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.header-icon {
  fill: var(--primary-color-darkblue);
  transition: transform 0.3s;
}

.header-icon:hover {
  transform: scale(1.3);
}

.menu-sections {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-menu {
  color: var(--primary-color-darkblue);

  text-decoration: none;
}

.header-menu:hover {
  color: var(--primary-color-blue);
  font-weight: 700;
}

/*Hero Section*/

.hero-section {
  position: relative;
}

.hero-image-background {
  position: absolute;
  top: -106px;

  z-index: -99;
}

/* Information Section */

#information-section p {
  font-size: 22px;
  line-height: 1.7;
}

#information-section p span {
  text-transform: capitalize;
  font-weight: 600;
}

#information-section h2 span {
  text-transform: capitalize;
}

.section#information-section {
  padding: 127px 0;
}

.information {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.information-text {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-basis: 709px;
}

.information-images {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 1;
}

.black-decor-star {
  position: absolute;
  fill: var(--secondary-color-darkblue);
  top: 50%;
  left: 30%;
  z-index: -2;
}

.blue-decor-star {
  position: absolute;
  top: 32px;
  right: -20px;
  rotate: 60deg;
  fill: var(--primary-color-blue);
}

.gray-decor-star {
  position: absolute;
  fill: var(--secondary-color-grey);
  top: 260px;
  right: 6px;
  rotate: 7deg;
}

.information-images img {
  width: 328px;
  height: 328px;
  border-radius: 50%;
  z-index: -1;
}

.image-before-procedure {
  margin-right: auto;
}

.image-after-procedure {
  margin-left: auto;
}

/*Advantages section*/
.advantages {
  position: relative;
  flex-basis: 1060px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-menu {
  display: flex;
  gap: 56px;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages-element {
  background-color: var(--primary-color-white);
  flex-basis: 316px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 32px;
  gap: 10px;
  padding-top: 30px;
  transition: transform 0.3s;
}

.advantages-element:hover {
  transform: scale(1.05);
}

.advantages-icon {
  fill: var(--primary-color-blue);
}

.advantages-title {
  margin-bottom: 48px;
  text-align: center;
  max-width: 432px;
  width: 100%;
}

#advantages-section p {
  color: var(--secondary-color-black);
  text-align: center;
  padding: 0px 32px 24px 32px;
}

.gradient-background {
  position: absolute;
  top: -200px;
  z-index: -1;
}

/*Procedure section*/
.procedure {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.procedure-menu p {
  font-size: 22px;
  line-height: 1.2;
}

.procedure-menu {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.procedure-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
}

.procedure-element:hover {
  transform: scale(1.05);
}

.procedure-element img {
  border-radius: 4px 120px;
}

.procedure-menu-title {
  margin-bottom: 48px;
  text-align: center;
}
/*Carousel menu*/
.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--primary-color-darkblue);
  fill: var(--primary-color-darkblue);
  transition:
    border 0.3s,
    fill 0.3s,
    background-color 0.3s;
}

.carousel-button:hover {
  border: 1px solid var(--primary-color-white);
  cursor: pointer;
  background-color: var(--primary-color-blue);
  fill: var(--primary-color-white);
}

.carousel-button.next {
  transform: rotate(180deg);
}

/*Contact section*/

.contact-section-title {
  margin-bottom: 48px;
  text-align: center;
}

/* Footer section */

.footer {
  position: relative;
  background-color: var(--primary-color-darkblue);
  padding: 56px 100px;
  overflow: hidden;
}

.footer .footer-container {
  display: flex;
  gap: 20px;
}

.footer-navigation {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logotype {
  font-size: 24px;
  line-height: 0.87;
  flex-grow: 1;
}

.footer-navigation-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}

.adress-container,
.footer-data-protected {
  flex-grow: 1;
}

.footer-adress {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.adress-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.social-links {
  display: flex;
  gap: 24px;
}

.footer-icon {
  fill: var(--primary-color-white);
  transition: transform 0.3s;
}

.footer-icon:hover {
  transform: scale(1.3);
}

.footer-link {
  font-style: normal;
  color: var(--secondary-color-white);
  text-decoration: none;
  font-size: 16px;
}

.text-data-protected {
  font-size: 13px;
  color: var(--secondary-color-grey);
  margin-top: 16px;
}

.footer-navigation-menu .footer-link:hover {
  color: var(--primary-color-blue);
  font-weight: 700;
}

.footer::after {
  position: absolute;
  width: 278px;
  height: 213px;
  bottom: -61px;
  right: -31px;
  background-image: url(./images/footer-decor.png);
  content: '';
  background-repeat: no-repeat;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition:
    opacity 0.3s,
    visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  max-width: 723px;
  width: 100%;
  max-height: 681px;
  height: 100%;
  background-color: var(--primary-color-darkblue);
  border-radius: 48px;
}

.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
}
